<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://www.komar.de/media/catalog/product/cache/5/image/9df78eab33525d08d6e5fb8d27136e95/8/-/8-4032_2_1.jpg" alt="" height="200px" srcset="" />
  </div>
  <div class="big-card__title">
    <h1>
      <a href="#">Saiu a nova versão do Angular</a>
    </h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores ratione dignissimos laboriosam incidunt expedita amet asperiores autem labore facilis sapiente a vel, in eius dicta temporibus, ad modi quibusdam repellat.
      </a>
    </p>
  </div>
</div>
