<div class="container__small-card">
  <div class="container__small-card-content">
    <div class="small-card__photo">
      <img src="https://cinebuzz.uol.com.br/media/uploads/as_marvels_sera_o_filme_de_menor_duracao_do_universo_cinematografico_da_marvel.jpg" alt="" height="200px" srcset="" />
    </div>
    <div class="small-card__title">
      <h1>
        <a href="#">Saiu a nova versão do Angular</a>
      </h1>
    </div>
  </div>

  <div class="container__small-card--separator">
    <hr />
  </div>
</div>
